body
    background: linear-gradient( 68.4deg,  rgba(248,182,204,1) 0.5%, rgba(192,198,230,1) 49%, rgba(225,246,240,1) 99.8% )

strong
    font-weight: 500

.page-header
    margin-bottom: var(--two-units)

#page-heading
    margin-top: var(--three-units)

#page-title
    font-weight: 500
    font-size: var(--xxxxl)
    text-transform: uppercase
    font-family: heading-font
    margin-bottom: var(--unit)
    line-height: 1.04   

#page-subtitle
    font-size: var(--xxl)
    margin-top: 0.1em
    display: block
    color: primary

#page-main
    margin-top: var(--two-units)
    position: relative

.page-footer
    background: white
    margin-top: var(--two-units)
    padding: var(--two-units) 0


.s1 + .s1
    margin-top: var(--two-units)

.s1-header + .s1-main
    margin-top: var(--semi-unit)

.h2
    font-size: var(--xl)
    font-family: heading-font
    font-weight: 500

.h3
    font-weight: 500
    font-family: heading-font