
.page-header
    margin-bottom: var(--two-units)

#page-heading
    margin-top: var(--four-units)

#page-title
    font-size: var(--xl)
    font-family: heading-font
    margin-bottom: var(--unit)
    line-height: 1

#page-main
    margin-top: var(--three-units)

.page-footer
    border-top: 1px solid dark
    margin-top: var(--two-units)
    padding: var(--semi-unit) 0
    font-size: var(--s)

.s1 + .s1
    margin-top: var(--unit)

.h2
    font-size: var(--l)
    font-family: heading-font
    margin-bottom: var(--quarter-unit)
    font-weight: bold

.h3
    font-family: heading-font


