nav
    
    position: absolute
    left: -150px
    a:hover
        color: primary
    ul
        stacked-list(spacing: 0, border: 1px solid dark)
        li
            padding: 0 var(--semi-unit) 
#main-image
    max-height: 50vh

#attention
    border: 2px solid #ef6f6c
    padding: var(--semi-unit)

#news
    border: 2px solid #56e39f
    padding: var(--semi-unit)
    
#intro
    font-size: var(--l)
    line-height: 1.3

#dates-list
    stacked-list(border: 1px solid grey)

#meetings
    display: grid
    grid-template-columns: max-content auto
    grid-template-rows: var(-unit)
    column-gap: var(--semi-unit)

.meeting-date
    flex-shrink: 0

.meeting-title
    font-weight: 500

#people-list
    // stacked-list(border: none, spacing: var(--quarter-unit))
    striped-list(color: lighten(primary, 70%))
    line-height: 1.3

.logos
    grid()
    align-items: center
