
.alarm
    border: 2px solid currentColor
    padding: var(--semi-unit)
    color: primary
    hyphens: auto

nav
    position: absolute
    left: -140px
    a:hover
        color: primary
    ul
        stacked-list(spacing: 0, border: 1px solid dark)
        li
            padding: 0 var(--semi-unit) 

#main-image
    max-height: 50vh

#attention
    border: 2px solid #ef6f6c
    padding: var(--semi-unit)

.newsletter-section
    // #mc_embed_signup_scroll
    //     display: flex
    input[type='email']
        width: 66%
        border: 1px solid grey
        padding: var(--semi-unit)
    input[type='submit']
        margin-left: var(--quarter-unit)
        padding: var(--semi-unit)
        background: primary
        color: white
        border-radius: 0.2em
        cursor: pointer
        &:hover
            text-decoration: underline
            

#news
    border: 2px solid #56e39f
    padding: var(--semi-unit)
    
#intro
    font-size: var(--l)
    line-height: 1.3

#dates-list
    stacked-list(border: 1px solid grey)

#meetings
    @media l
        display: grid
        grid-template-columns: max-content auto
        column-gap: var(--semi-unit)
        row-gap: var(--semi-unit)

.meeting-title + .meeting-date
    margin-top: var(--semi-unit)
    @media l
        margin-top: 0

.meeting-date
    display: block
    color: hsl(0, 0, 30)
    flex-shrink: 0
    @media l
        display: inline

.meeting-title
    font-weight: 500

#people-list
    // stacked-list(border: none, spacing: var(--quarter-unit))
    striped-list(color: lighten(primary, 70%))
    line-height: 1.3

.logos
    grid()
    align-items: center

.s1-main.logos
    margin-top: var(--unit)